:root{
    --pink: #d7354f;
    --green: #00a82c;
    --brown: #b67042;
    --lime: #8cb932;
    --rose: #f6e6e4;
    --grey: #eff2e1;
}

body{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.section{
    height: auto;
    min-height: 80vh;
    padding: 124px 0 80px 0;
} 

/* typography */

h2, h3, p{
    text-align: center;
    font-weight: semibold;
}

p em, p strong, p a{
    font-weight: bold;
    text-decoration: none;
}

p a:hover{
    opacity: .8;

}

@media(max-width: 780px){
    p{
        text-align: left;
    }
    br{
        display: none;
    }
}

.title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.title:after{ 
    content: "";
    display: block;
    margin: 12px auto;
    background: var(--green);
    width: 94px;
    height: 6px; 
}

.title.border-pínk:after{
    background: var(--pink)!important;
}

/* navbar */

.navbar {
    background: var(--pink); 
}
.navbar .nav-item{
    margin-left: 40px;
    display: flex;
    align-items: center;

}
.navbar .nav-item .nav-link{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

@media(max-width: 780px){
    
    .navbar .nav-item{
        justify-content: end;
    }

    .navbar .nav-item .nav-link{ 
        font-size: 18px;
        text-align: right;
    }

}

.navbar-toggler{
    background: transparent;
    border: 2px solid white;
}

.navbar-toggler:focus:not(:focus-visible){
    box-shadow: none;
}

.offcanvas{
    background-color: var(--pink);
}

.navbar-toggler-icon{
    filter: invert();
}

/* header banner */

.hero{
    background: var(--pink);
    display: flex;
    align-items: center;
    height: 100vh;
}

.hero .logo{
    max-width: 360px;
    width: 100%;
    margin-bottom: 36x;
}

.hero .title{
    text-align: left;
    font-weight: bold;
}

.hero .title:after{
    margin: 40px 0;
} 

/* sections */

.quienes-somos{
    background: var(--pink);
    background-size:  cover;
    position: relative;
}

.quienes-somos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: url(assets/isologo.svg) center right no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    z-index: 0;
}

.reflect{ 
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);  
} 

/* carousel slider */ 
.carousel-item{
    color: white; 
}

.carousel-indicators{
    bottom: -30px;
}

.carousel-indicators [data-bs-target]{
    width: 8px;
    height: 8px;
    border-radius: 50px;  
    border-top: none;
    border-bottom: none;
}

/* newsletter */

.news{
    border-bottom: 40px solid #9e9839;
    background: var(--brown)
}
 
.news .background{
    opacity: .65
}

.news p{
   text-shadow: 2px 2px 2px black;
}

/* form */

.form-control, .btn{
    color: var(--green);
    border-radius: 50px;
    border: 2px solid var(--green);
    font-weight: bold;
    text-align: center;
    background: #fff;
    line-height: normal;
    vertical-align: baseline;
} 

.form-control::placeholder{
    text-transform: uppercase;
    color: var(--green);
}

.btn-submit {
    border-radius: 50px;
    border: 2px solid #fff;
    background: var(--green);
    color: white; 
    font-weight: bold;
}

.btn-submit:focus,
.btn-submit:hover {
    background: var(--lime);
}
 
.btn{
    text-transform: uppercase; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn:focus,
.btn:hover { 
    background: var(--lime);
}

/* contacto */
.section.contacto{ 
    min-height: 0; 
    padding: 40px 0;
}

.section.contacto:after{
    content: ""; 
    display: block;
    background: url(assets/icon-envelop.svg) no-repeat right center;
    background-size: contain;
    width: 90%;
    height: 30px; 
}

/* footer */
.footer{
    background: var(--lime);
}

/* backgrounds */

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; 
    opacity: .82;
}

.bg-green{
    background: var(--green);
}

.bg-lime{
    background: var(--lime);
}

.bg-pink{
    background: var(--pink);
}

.bg-brown{
    background: var(--brown);
}

/* text color */

.text-pink{
    color: var(--pink);
}

.text-green{
    color: var(--green)!important;
}

/* border color */

.border-green{
    border: 2px solidnvar(--green);
} 

/* helpers */

figure{
    margin: 0
}

.z-index-1{
    z-index: 1; 
}